.footer {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    border-top: grey;
    box-shadow: 2px 3px 5px 5px gray;
    flex: 0 0 auto;
}