.message-list {
    width: 1200px;
}
.messages-divider {
    margin-bottom: 35px !important;
}
.right-sticky {
    box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}